@font-face {
    font-family: 'SUSEfont';
    src: url('/static/fonts/SUSE-Regular.ttf') format('truetype'); /* Correct the path */
    font-weight: normal;
    font-style: normal;
}


/* Apply the custom font to the whole site */
body {
    font-family: 'SUSEfont', Arial, sans-serif; /* Fallback to Arial and sans-serif in case the custom font doesn't load */
}
/* General body styling */
body {
    background-color: #f8f9fa;
    color: #212529;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    font-family: SUSEfont;
    background-color: #343a40;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover, .landing-cta .landing-signup-btn:hover {
    text-decoration: underline;
}

/* Container styling */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Header styling */
h1, .features-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #343a40;

    text-align: center;
}

/* Form and Input styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    color: #495057;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form-group input, .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #212529;
    font-size: 16px;
}

/* Button styling */
.btn {
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #ffffff;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #ffffff;
    font-weight: bold;
    margin-top: 15px;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* Alerts and Messages */
.flashes {
    margin: 10px 0;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    background-color: darkred; /* Default color for alerts */
}

.alert-danger {
    background-color: #ff4d4d; /* Specific color for 'danger' alerts */
}

/* Logout Form */
.logout-form {
    display: inline;
    margin-left: auto; /* Pushes the sign-out button to the right */
}

/* Center the loading spinner and text */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Loading spinner and text */
.loading-spinner {
    margin: 20px auto;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007bff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s ease-in-out infinite;
    z-index: 9999;
    position: relative;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin-top: 10px;
    font-size: 1rem;
    color: #343a40;
    z-index: 9999;
    position: center;
}

/* Error messages */
.error-message {
    color: red;
    margin-top: 20px;
}

/* Summary output */
.summary-output {
    text-align: left;
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.summary-output h2 {
    color: #343a40;
}

.summary-output pre {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
    border: 1px solid #ced4da;
}

/* Tutorial content */
.tutorial-content {
    line-height: 1.6;
    font-size: 16px;
    color: #495057;
}

.tutorial-content ol, .tutorial-content ul {
    margin: 20px 0;
    padding-left: 40px;
}

.tutorial-content li {
    margin-bottom: 10px;
}

.tutorial-content p {
    margin-bottom: 15px;
}

.tutorial-content h3, .tutorial-content h4 {
    margin-top: 20px;
    color: #343a40;
}

/* Landing page styling */
.landing-page {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.landing-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 10px;
}

.landing-subtitle {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 20px;
}

.landing-cta {
    padding-top: 10px;
}

.landing-cta .landing-signup-btn {
    font-size: 1.5rem;
    padding: 15px 30px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.4);
    transition: background-color 0.3s ease;
}

.landing-cta .landing-signup-btn:hover {
    background-color: #0056b3;
}

.landing-divider {
    margin: 40px 0;
    border-top: 1px solid #dee2e6;
}

.landing-features {
    margin-top: 40px;
    text-align: left;
}

.features-title {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 20px;

    text-align: center;
}

.feature-item {
    display: flex;
    align-items: center;
    background-color: #f7f7f7 ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.feature-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    fill: #007bff;
}

.feature-text {
    font-size: 1.2rem;
    color: #495057;
    line-height: 1.6;
}

/* Hero Section Styling */
.hero-section {
    font-family: SUSEfont;
    background-color: #2c1212;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 40px;
    color: #ddd;
}

.hero-search {
    display: inline-block;
    position: relative;
    max-width: 600px;
    width: 100%;
}

.hero-input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.hero-btn {
    background-color: #f5c000;
    border: none;
    border-radius: 100%;
    padding: 15px;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 60px; 
}

.search-icon {
    width: 20px;
    height: 20px;
}

.hero-links {
    margin-top: 30px;
}

.hero-link {
    color: #f5c000;
    font-size: 1rem;
    margin: 0 10px;
    text-decoration: underline;
}

.hero-link:hover {
    text-decoration: underline;
}

/* Footer Styling */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}
